// 10 deme WF model
// a 10kb neutral region flanked by 350 selected sites
// input N, t, m, r, mu, reps


initialize() {
	
	initializeTreeSeq();
	
	//initialize mutation rates
	initializeMutationRate(mu);
	initializeRecombinationRate(c(r, 0, r), c(349, 10350, 10699));

	// m1 mutation type: deleterious
	initializeMutationType("m1", 0.5, "f", -t*2);
	
	// g1 genomic element type: selected sites
	initializeGenomicElementType("g1", m1, 1);
	
	// Create chromosomal region of 350 selected sites flanking a neutral region of 10^4 sites
	initializeGenomicElement(g1, 0, 349);
	initializeGenomicElement(g1, 10350, 10699);
	
	

}

1 late() {

	// Number of subpopulations
	NumSubPops = 10;
	// Size of subpopulations
	SubPopSize = asInteger(N);
	// Migration rate from each subpop
	mEach = m;
	
	sim.addSubpop('p1', SubPopSize);

	// Create subpopulations
	for (i in 2:(NumSubPops))
		sim.addSubpopSplit(i, SubPopSize, p1);
		
	
	// Configure migration rate to each subpopulation
	for (SubPop in sim.subpopulations) {
		SourceSubPops = sim.subpopulations[sim.subpopulations != SubPop];
		SubPop.setMigrationRates(SourceSubPops, rep(mEach, NumSubPops - 1));
		}
}

250000 late() {
	path = '/home/a.hasan/data_25N_r/';
	sim.treeSeqOutput(paste0(c(path, 'treeSeq',
	'_N=', N, '_r=', r, '_t=', t, '_m=', m, '_µ=', mu, '_', reps, '.trees')));
}
